@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.App {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.cavalink-title {
  font-family: 'DM Serif Display', serif;
  color: #232D4B;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  width: 100%;  /* Ensure it spans the full width */
  padding: 10px 20px; /* Add padding for spacing */
  position: relative;
}

.logo {
  position: fixed;  /* Keeps it in the top-left even on scroll */
  top: 10px;
  left: 10px;
  height: 130px;  /* Adjust size as needed */
  width: auto;
  z-index: 1000;
}

.font-dmserif {
  margin-left: 100px;  /* Push text further from the logo */
  font-size: 1.5rem;
}